:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Light-gray: hsla(240, 6%, 54%, 0.241);
  --Dark-purple: hsl(292, 42%, 14%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Light-purple: hsl(285, 81%, 45%);
}